.amenititesTitleStyling{
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin: 0px;
  margin-bottom: 16px;
}
.amenitiesModalOpenButton{
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: 1em;
  font-weight: 600;
  width: 100%;
  line-height: 1.65em;
  display: block;
  color: #008489;
  text-align: left;
}
.gridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.displayColumnDiv {
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
  width: 50%;
  float: left;
  }

.displayCell{
  width: 100%;
  border-width: 0px;
  line-height: 22px;
  padding-bottom: 16px ;
  justify-self: center;

}
.modalCloseButton{
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  display: inline-block;
  left: 0%;
  color: buttontext;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  margin: -7px;
  padding: 7px;
  font-size: 20pt;
  font-weight: 100;
}
.modalCloseButtonSpacingDiv {
  padding-bottom: 24px;
  display: block;
}
.ammenitiesModalTitle{
  font-size: 24px;
  font-weight: 800;
  display: block;
  margin-bottom: 24px;
}