.titleCardComponent {
  box-sizing: border-box;
  display: flex;
  float: none;
  line-height: 20px;
  position: static;
  z-index: auto;
  padding-bottom: 24px;
  padding-top: 48px;
  font-weight: 400;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 20px ;
  width: 58.33%;
}
.titleCallout {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}
.titleBullets {
  box-sizing: border-box;
  width: 80%;
}
.descriptionText {
  width: 58.33%;
}